* {
  margin: 0;
  box-sizing: border-box;
}

/* Colors from Chris Yeh: https://chrisyeh96.github.io/2020/03/28/terminal-colors.html */
:root {
  --black: rgb(0, 0, 0);
  --red: rgb(204, 0, 0);
  --green:rgb(78, 154, 6);
  --yellow:	rgb(196, 160, 0);
  --blue: rgb(114, 159, 207);
  --white:rgb(211, 215, 207);
  --bright-black: rgb(85, 87, 83);
  --bright-red:	rgb(239, 41, 41);
  --bright-green: rgb(138, 226, 52);
  --bright-yellow: rgb(252, 233, 79);
  --bright-blue: rgb(50, 175, 255);
  --bright-white: rgb(255, 255, 255);
}

/* Font from Fontshare: JetBrains */
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 200;
  src: url('./assets/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
       url('./assets/fonts/JetBrainsMono-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('./assets/fonts/JetBrainsMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  src: url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('./assets/fonts/JetBrainsMono-Bold.woff') format('woff');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 900;
  src: url('./assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
       url('./assets/fonts/JetBrainsMono-ExtraBold.woff') format('woff');
}

/* Styles */

::selection {
  background-color: var(--green);
  color: var(--bright-black);
}

body {
  background-color: var(--black);
  color: var(--bright-green);
  font-family: 'JetBrains Mono';
  font-weight: 400;
}

button {
  outline: none;
  border: none;
  font-family: 'JetBrains Mono';
  background-color: var(--green);
  color: var(--black);
}

button:hover, 
button:active, 
button:focus {
  cursor: pointer;
  background-color: var(--bright-green);
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 8px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--bright-green);
}

.nav__game-title {
  text-transform: uppercase;
  font-size: clamp(2.4rem, 8vw, 5rem);
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.content-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Welcome/Setup Page */

.welcome-container {
  width: min(100%, 900px);
  padding: 96px 48px;
  display: flex;
  flex-direction: column;
}

.welcome__heading {
  font-size: clamp(1.5rem, 3vw, 2.4rem);
  font-weight: 400;
}

.game-setup-container {
  display: flex;
  justify-content: space-between;
}

.ship-setup-container {
  display: flex;
  flex-direction: column;
}

.ship-setup__ship-container {
  border: 2px solid var(--green);
  flex-grow: 1;
}

.ship-setup__rotate-btn {
  align-self: center;
}

.start-game-btn {
  margin-top: 96px;
  font-size: 1.2rem;
  padding: 4px 8px;
  align-self: center;
}

/* Game Page */

.game-container {
  width: min(100%, 900px);
  padding: 96px 48px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  border: 1px solid var(--green);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr, 322px;
}

.grid-container__x-axis-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 32px);
}

.grid-container__y-axis-container {
  display: grid;
  grid-template-rows: repeat(10, 32px);
}

.grid-container__axis-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 0.8rem;
}

.grid {
  width: 322px;
  height: 322px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid var(--bright-green);
}

.grid-item {
  border: 1px solid var(--bright-green);
}

.grid-item:hover {
  background-color: var(--bright-black);
  cursor: crosshair;
}

.grid-ship {
  background-color: var(--green);
}

.footer {
  border-top: 2px solid var(--bright-green);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

