* {
  margin: 0;
  box-sizing: border-box;
}

/* Colors from Chris Yeh: https://chrisyeh96.github.io/2020/03/28/terminal-colors.html */
:root {
  --black: rgb(0, 0, 0);
  --red: rgb(204, 0, 0);
  --green:rgb(78, 154, 6);
  --yellow:	rgb(196, 160, 0);
  --blue: rgb(114, 159, 207);
  --white:rgb(211, 215, 207);
  --bright-black: rgb(85, 87, 83);
  --bright-red:	rgb(239, 41, 41);
  --bright-green: rgb(138, 226, 52);
  --bright-yellow: rgb(252, 233, 79);
  --bright-blue: rgb(50, 175, 255);
  --bright-white: rgb(255, 255, 255);
}

/* Font from Fontshare: JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  src: url('./ui/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('./ui/assets/fonts/JetBrainsMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 900;
  src: url('./ui/assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
       url('./ui/assets/fonts/JetBrainsMono-ExtraBold.woff') format('woff');
}

/* Styles */

::selection {
  background-color: var(--green);
  color: var(--bright-black);
}

body {
  background-color: var(--black);
  color: var(--bright-green);
  font-family: 'JetBrains Mono';
  font-weight: 400;
}

button {
  outline: none;
  border: none;
  font-family: 'JetBrains Mono';
  font-size: 1.2rem;
  padding: 4px 8px;
  background-color: var(--bright-green);
  color: var(--black);
}

button:hover {
  cursor: pointer;
  background-color: var(--green);
}

h2 {
  font-size: clamp(1.3rem, 3vw, 2.4rem);
  font-weight: 400;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav */

.nav {
  padding: 8px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--bright-green);
}

.nav__game-title {
  text-transform: uppercase;
  font-size: clamp(2.4rem, 8vw, 5rem);
  font-weight: 900;
  letter-spacing: 0.5rem;
}

/* Pages Content */

.content-section {
  height: 100%;
  display: flex;
}

.game-setup-container, 
.game-play-container, 
.game-over-container {
  width: 100%;
  padding: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* Game Setup Page */

.game-setup-container:hover {
  cursor: pointer;
}

.game-setup__btn-container {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.game-setup__place-ships-text::after {
  content: "";
  margin-left: 2px;
  padding: 0px 4px;
  background-color: var(--bright-green);
  animation: blink 1.25s steps(1) infinite;
}

.game-setup__ship-container {
  position: absolute;
  height: 32px;
  width: 32px;
  border: 2px solid var(--bright-green);
  background-color: var(--green);
  opacity: 0.8;
  pointer-events: none;
}

/* Game Play Page */

.grid-container {
  display: grid;
  grid-template-columns: 1fr, 322px;
  grid-template-rows: 32px 322px 1fr;
}

.grid-container__x-axis-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 32px);
}

.grid-container__y-axis-container {
  display: grid;
  grid-template-rows: repeat(10, 32px);
}

.grid-container__axis-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 0.8rem;
}

.grid-container__title {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: center;
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.grid {
  width: 322px;
  height: 322px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid var(--bright-green);
}

.grid-item {
  border: 1px solid var(--bright-green);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.grid-container + .grid-container .grid .grid-item:hover {
  background-color: var(--bright-black);
  cursor: crosshair;
}

.grid-item__ship {
  background-color: var(--green);
}

.grid-item__hit::after {
  content: "";
  padding: 4px;
  border-radius: 50%;
  background-color: var(--red);
  animation: pulse 750ms infinite alternate;
}

.grid-item__miss::after {
  content: "";
  padding: 4px;
  border-radius: 50%;
  background-color: var(--white);
}

/* Game Over Page */

.game-over-container {
  flex-direction: column;
}

.game-over__game-result-text {
  text-align: center;
}

/* Footer */

.footer {
  border-top: 2px solid var(--bright-green);
  padding: 8px;
  display: flex;
  justify-content: center;
}

.footer__gh-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--bright-green);
}

.footer__gh-link__gh-icon {
  height: 1.3rem;
}

/* Animations */

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    background-color: var(--red);
    -webkit-box-shadow: 0px 0px 20px 2px var(--red);
    -moz-box-shadow: 0px 0px 20px 2px var(--red);
    box-shadow: 0px 0px 20px 2px var(--red);
  }
  to {
    background-color: var(--bright-red);
    -webkit-box-shadow: 0px 0px 20px 5px var(--red);
    -moz-box-shadow: 0px 0px 20px 5px var(--red);
    box-shadow: 0px 0px 20px 5px var(--red);
    transform: scale(1.2);
  }
}

/* Mobile */

@media (max-width: 910px) {
  .game-setup-container, 
  .game-play-container {
    padding: 0;
    flex-direction: column;
    gap: 1rem;
  }
}